@font-face {
    font-family: "Inter";
    src: url("assets/fonts/inter.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body::-webkit-scrollbar {
    width: 0;
}

h1, h2, h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

button {
    font-size: 20px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

nav h1 {
    margin: 0 auto;
    width: 85px;
    height: 34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 !important;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;
    width: 100%;
    height: 80px;
    background: #E3E3E3;
    border-radius: 0px 0px 20px 20px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    user-select: none;
}

nav > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.posts-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 44px;
    height: 44px;
    border-radius: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: all 0.3s;
}

.posts-btn img {
    width: 32px;
    height: 32px;
}

.posts-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.signup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
    width: 151px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.signin {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
    width: 103px;
    height: 44px;
    color: white;
    background: #313131;
    border-radius: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 240px);
}

main > p {
    text-align: center;
    font-size: 26px;
    color: #A1A4C0;
}

footer {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 40px;
gap: 10px;

width: 100%;

background: #F0F2FF;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

}

footer div {
    display: flex;
    align-items: center;
    gap: 14px;
}

footer p, footer a {
    font-size: 26px;
    color: #A1A4C0;
    text-decoration: none;
}